{{ partial "new-head" . }}
<div class="main blue-grey-text text-darken-4">
  <nav class="navbar-fixed black-text" role="navigation">
    <div class="nav-wrapper black-text">
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons black-text">menu</i></a>

      <a href="/" class="nav-logo brand-logo blue-grey-text text-darken-4">
        Jetprobe
      </a>
      <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="blue-grey-text text-darken-4" href="/docs/introduction">Documentation</a></li>
        <li><a class="blue-grey-text text-darken-4" href="https://github.com/jetprobe/jetprobe">Github</a></li>
      </ul> -->
      <ul class="right hide-on-med-and-down">
        <li><a class="blue-grey-text text-darken-4" href="/docs/introduction"><b>Documentation</b></a></li>
        <li><a class="blue-grey-text text-darken-4" href="https://github.com/jetprobe/jetprobe"><b>Github</b></a></li>
      </ul>

    </div>
  </nav>
  <ul id="nav-mobile" class="side-nav">
    <li><a class="blue-grey-text text-darken-4" href="/docs/introduction">Documentation</a></li>
    <li><a class="blue-grey-text text-darken-4" href="https://github.com/jetprobe/jetprobe">Github</a></li>
  </ul>

  <div class="landing valign-wrapper">
    <div class="landing-hero row container">
      <div class="landing-content col s12 l6 center">
        <div class="landing-logo"><h1 class="center brand-logo">Jetprobe</h1></div>
        <div class="landing-tagline">Open source framework for defining and validating workflows.</div>
        <div class="landing-buttons">
          <a href="/docs/getting-started/" class="btn btn-large landing-button custom-blue white-text custom-blue-border z-depth-0">Get Started</a>
          <a href="https://github.com/jetprobe/jetprobe/releases" class="btn btn-large landing-button white custom-blue-text custom-blue-border z-depth-0">Download</a>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-section center">
    <h2 class="feature-heading">Why use Jetprobe</h2>
    <div class="features container row center">
      <div class="feature-item col s12 xl4">
        <div class="fimg-1 feature-image"></div>
        <div class="feature-title"><h3>Faster Development</h3></div>
        <div class="feature-text">Speed up the development of automation tests, with expressive and concise workflow definition language developed in Scala.</div>
      </div>
      <div class="feature-item col s12 xl4">
        <div class="fimg-2 feature-image"></div>
        <div class="feature-title"><h3>Multiple Integrations</h3></div>
        <div class="feature-text">Write validation rules, against different big data infrastructure components like HBase, HDFS and MongoDB.</div>
      </div>
      <div class="feature-item col s12 xl4">
        <div class="fimg-3 feature-image"></div>
        <div class="feature-title"><h3>Easily Extensible</h3></div>
        <div class="feature-text">Add custom tasks and validation rules for your favorite tools, using pluggable APIs of Jetprobe framework.</div>
      </div>
    </div>
  </div>

  <!-- Code highlights -->
  <div class="section light-theme">
    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col m12 l12">
              <h2 class="feature-heading center">How it works</h4>

                <div class="cd-text">
                  <h5 class="code-feature-heading">Define the Test Pipeline</h5>
                  <div class="feature-text">
                    Leverage the expressive API to define the sequence of tasks that would be part
                    of the test pipeline.
                  </div>
                </div>

                <div class="card white ">
                  <div class="code-card grey-text text-darken-3">
                    <pre><code class="scala">
@PipelineMeta(name = "MongoDB Prep Suite")
class MongoSuite extends TestPipeline with LazyLogging {

val mongoConf = new MongoDBConf("mongodb://${mongo.host.name}")

  override def tasks: PipelineBuilder = {

  ssh("Start the mongo db")

  task(
      description =  "Create Mongo Collection",
      config = mongoConf
    ) { mongoDB =>

    mongoDB.createCollection("foo", "bar",Seq("id","name"))
    mongoDB.createCollection("zoo", "baz")

  }

  validate("Collection Indices test",mongoConf){ mongodb =>

  val info = mongodb.getDatabaseStats("foo").get
  assertEquals(1,info.get("indexes").get.asInt32().getValue)

  }

}
                        </code></pre>

                    </div>
                    <div class="card-action">
                       <a href="/docs/tasks/">Read More</a>
                    </div>
                </div>


                <div class="cd-text">
                  <h5 class="code-feature-heading">Define the workflow</h5>
                  <div class="feature-text">
                    The next step is to define the workflow that could consist of multiple pipeline that
                      needs to be executed as part of the test scenario.
                  </div>
                </div>

                <div class="card white ">
                  <div class="code-card grey-text text-darken-3">
                    <pre><code class="yml">
  name : data ingestion test
  project : user-analytics

  tags :
    - https
    - mongo
    - test

# params for the pipelines
params :
  mongo.host.name : xx.xx.xxx.xxx
  reporter.html.outputPath : /path/to/report.html

pipelines :
  - name : Mongo-prep
    className : com.jetprobe.sample.MongoSuite
    description : Mongo db preparation
    exitOnFailure : true

                        </code></pre>

                    </div>
                    <div class="card-action">
                       <a href="/docs/writing-validations/#execution-of-pipelines">Read More</a>
                    </div>
                </div>


                <div class="cd-text">
                  <h5 class="code-feature-heading">Execute and view the results</h5>
                  <div class="feature-text">
                    Once the pipeline has been defined, execute the validation using jetprobe CLI to view the validation report.
                  </div>
                </div>

                <div class="card white ">
                  <div class="code-card grey-text text-darken-3">
                    <pre><code class="bash">
  jetprobe --jar /path/to/test-pipe.jar --config /path/to/config.yml
                        </code></pre>

                    </div>
                    <div class="card-action">
                       <a href="/docs/writing-validations/#execution-of-pipelines">Read More</a>
                    </div>
                </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="hero-image hide-on-med-and-down"></div>
 {{ partial "footer" . }} {{ partial "footer_js" . }}
<script>
$( document ).ready(function(){
  $(".button-collapse").sideNav();
});
</script>
</body>

</html>
