{{ partial "new-head" . }}
<div class="main blue-grey-text text-darken-4">
  <nav class="navbar-fixed black-text">
    <div class="nav-wrapper black-text">
      <img class="brand-logo-image" src="/images/new/logo.png"></img>
      <a href="#" class="brand-logo blue-grey-text text-darken-4">Jetprobe</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="blue-grey-text text-darken-4" href="/docs/introduction">Documentation</a></li>
        <li><a class="blue-grey-text text-darken-4" href="https://github.com/jetprobe/jetprobe">Github</a></li>
      </ul>
    </div>
  </nav>
  <div class="landing valign-wrapper">
    <div class="landing-hero row container">
      <div class="landing-content col s6 center">
        <div class="landing-logo"><h1 class="center brand-logo">Jetprobe</h1></div>
        <div class="landing-tagline">Define. Execute. Validate Data Pipelines.</div>
        <div class="landing-buttons">
          <a href="/docs/getting-started/" class="btn btn-large landing-button custom-blue white-text custom-blue-border z-depth-0">Get Started</a>
          <a href="https://github.com/jetprobe/jetprobe/releases" class="btn btn-large landing-button white custom-blue-text custom-blue-border z-depth-0">Download</a>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-section center">
    <h2 class="why">Why use Jetprobe</h2>
    <div class="features container row center">
      <div class="feature col s4">
        <div class="feature-image fimg-1">
        </div>
        <div class="feature-name"><h3>Faster Development</h3></div>
        <div class="feature-text">Speed up the development of automation tests, with expressive and concise workflow definition language developed in Scala.</div>
      </div>
      <div class="feature col s4">
        <div class="feature-image fimg-2">
        </div>
        <div class="feature-name"><h3>Multiple Integrations</h3></div>
        <div class="feature-text">Write validation rules, against different big data infrastructure components like HBase, HDFS and MongoDB.</div>
      </div>
      <div class="feature col s4">
        <div class="feature-image fimg-3">
        </div>
        <div class="feature-name"><h3>Easily Extensible</h3></div>
        <div class="feature-text">Add custom tasks and validation rules for your favorite tools, using pluggable APIs of Jetprobe framework.</div>
      </div>
    </div>
  </div>
</div>

<div class="hero-image"></div>
<!-- {{ partial "footer" . }} {{ partial "footer_js" . }} -->
</body>

</html>
